body{
    font-family: 'Playfair Display', serif;
    background-color: #9d2db;
}
.readme-wrapper, h2, p{
    text-align: center;
    text-decoration: none;
    color: darkblue;
}

.boxes{
    align-items: center;
    display: block;
    border: 6px;
    margin: 2px;
    border-style: solid;
    border-spacing: 2px;
    padding: 5px;
    border-radius: 7px;
    overflow: auto;
}
a:hover{
    cursor: pointer;
    font-weight: bold;
    color: blue;
}
.harrypotter{
    font-weight: 800;
    color: crimson;
}
.noble{
    font-weight: bolder;
    color: mediumorchid;
}
.thirsty{
    font-weight: 600;
    color:yellowgreen;
}
.icon{
    font-weight: 300;
    font-stretch: wider;
    color: black;
}
#box1{
    width: 70%;
    position: static;
    background-color: lightblue;
}
#box2{
    width: 75%;
    background-color: lightcoral;    
}
#box3{
    width: 80%;
    background-color: lightgreen;    
}
#box4{
    width: 85%;
    background-color: lightyellow;    
}
.section{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
}
